/* custom.css */
.row > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nav-link {
    background-color: #14130F !important;
    color: #FFF !important;
    font-weight: 700;
line-height: normal;
}
.custom-button:hover, .custom-button:active {
    background-color: #DA291C !important; /* Importante para sobrescribir estilos de Bootstrap */
    color: white !important; /* Cambia el color del texto a blanco */
  }
.nav-link.active {
    background-color: #FFF !important;
    
    color: #DA291C !important;
    font-weight: 700;
    line-height: normal;

}
.custom-scrollbar::-webkit-scrollbar {
    width: 2px !important;
}
/* Estilo para la pista (track) del scrollbar */
::-webkit-scrollbar-track {
    background: #f1f1f1!important; /* Color de fondo de la pista */
}
.modal-button {
    color: #DA291C;
    backgroundColor: white;
    borderColor: #DA291C;
}
.modal-button:hover {
    color: #fff;
    backgroundColor: #DA291C;
    borderColor: #DA291C;
}
.btn-custom {
    background-color: #DA291C;
    border-color: #DA291C;
  }
.buttonBase {
    margin-right: 5px;
    font-size: 8pt;
    border-color: #DA291C;
    background-color: white;
    color: #DA291C;
    transition: background-color 0.2s, color 0.2s; /* Suave transición */
  }
  
  .buttonBase:hover, .buttonBase:active, .buttonBase:focus {
    background-color: #DA291C;
    color: white;
  }
  .buttonBase .icon {
    color: #DA291C; /* Color por defecto */
  }
  
  .buttonBase:hover .icon, .buttonBase:active .icon, .buttonBase:focus .icon {
    color: white; /* Color cuando se pasa el mouse o se selecciona */
  }
  .modal {
    --bs-modal-width: auto; /* Ajusta el ancho del modal */
    --bs-modal-height: auto; /* Ajusta el ancho del modal */
    margin-top: 0px; /* Centra el modal horizontalmente */
    top: 50% !important; /* Centra el modal verticalmente */
    left: 50% !important; /* Centra el modal horizontalmente */
  
    max-width: 50%; /* O cualquier ancho específico que prefieras */
    max-height: 60%;
   
}
.custom-modal-style{
    
}
.modal-button:focus {
    color: hsl(0, 0%, 100%);
    backgroundColor: #DA291C;
    borderColor: #DA291C;
}
/* Estilo para el control deslizante (thumb) del scrollbar */
::-webkit-scrollbar-thumb {
    background:  #DA291C !important; /* Color del control deslizante */
}

/* Estilo para el control deslizante al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555!important;/* Color del control deslizante al pasar el mouse */
}
.nav-tabs .nav-item {
    margin-right: 15px; /* Añade un margen a la derecha de cada pestaña */
}

.nav-tabs .nav-item:last-child {
    margin-right: 0; /* Asegúrate de que el último elemento no tenga margen adicional */
}
#tab-component .nav-tabs .nav-item .nav-link {
    border-radius: 30px 30px 0 0 !important;
}